
ion-header {
    background-color: #00ff00; /* Verde tipo Matrix */
    color: black;              /* Color del texto */
  }
  
  ion-toolbar {
    --background: #00ff00; /* Cambia el fondo de la barra de herramientas */
    --color: black;        /* Cambia el color del texto */
  }
  