<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-form">
    <ion-item>
      <ion-label position="floating">Nombre de Usuario</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <div class="button-container">
      <button mat-raised-button color="primary" (click)="login()">Ingresar</button>
      <button mat-button color="warn" (click)="navigateToResetPassword()">¿Olvidaste tu contraseña?</button>
    </div>
  </div>
</ion-content>
